<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/cadastro.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="font-family: Roboto Mono, monospace;">
<div class="login-page">
  <div class="form">
    <img src="/images/stocklogo.png" class="img-fluid" alt="Sample image">
    <h1 align="center" style="color: #05aaf2">Stok</h1>
    <form action="#" th:action="@{/rh/funcionario/salvar}" th:object="${funcionario}" method="POST" class="register-form">
      <input type="hidden" id="id" th:field="*{id}" />
      <input type="text" th:field="*{nome}" placeholder="Nome"/>
      <input type="email" th:field="*{email}" placeholder="E-mail"/>
      <input type="password" th:field="*{senha}" placeholder="Senha"/>
      <button type="submit">Criar</button>
    </form>
  </div>
</div>
</body>
</html>